[Desktop Entry]
Actions=Play;Pause;Stop;Previous;Next;
Categories=AudioVideo;Player;Audio;Qt;
Comment=Odtwarzacz multimedialny oparty na Qt
Exec=qmmp %F
GenericName[pl_PL]=Odtwarzacz audio
GenericName=Audio player
Icon=nuvolaplayer3_google_play_music
Keywords=player;audio;video;multimedia;
MimeType=application/x-ogg;audio/mp3;audio/mpeg;audio/flac;audio/opus;audio/x-mp3;audio/x-mpeg;audio/x-ms-wma;audio/x-musepack;audio/x-tta;audio/x-wavpack;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mpegurl;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-xm;audio/x-ape;application/x-cue;x-content/audio-cdda;audio/x-ffmpeg-shorten;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;
Name=qmmp
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.11
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action Next]
Exec=qmmp --no-start --next
Name=Next

[Desktop Action Pause]
Exec=qmmp --no-start --pause
Name=Pause

[Desktop Action Play]
Exec=qmmp --no-start --play
Name=Play

[Desktop Action Previous]
Exec=qmmp --no-start --previous
Name=Previous

[Desktop Action Stop]
Exec=qmmp --no-start --stop
Name=Stop
